body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 120px);
  gap: 5px;
  background-color: white;
}

.item {
  background-color: green;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

/* Layout positioning */
.item1 {
  grid-column: 1 / 4;
}

.item2 {
  grid-row: 2 / 6;
  grid-column: 1 / 2;
}

.item3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.item4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.item5 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.item6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.item7 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.item8 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.item9 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.item9 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.item10 {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
}
